@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{font-family: 'Poppins', sans-serif;}
body{
    background-color:#070320;
    color:white

}
.fond_o{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
    padding-right: 100px;
}
.banniere{
    position: relative;
    padding-top: 200px;

}
.o{
    color: #E87D0E;
}
.banniere,
.nos_jeux,
.play_games,
.team,
.stay_i
{
    width: 80%;
    margin: auto;

}

.photo{
    display:flex;
    flex-direction: row;
}
.play_games h2{
    display:flex;
    justify-content: center;
    
}


.membre{
   display: flex;
    
}

.membre figure{
    width: 100%;
}

.membre figure img{
    width: 100%;
}
.stats {
    margin-top: 5rem;
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    h2,
    p {
        text-align: center;
    }

    h2 {
        padding-top: 2rem;
        margin-bottom: 2rem;
    }

    .stat {
        padding: 20px 50px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        width: max-content;
        text-align: center;

        span {
            font-size: 3rem;
            margin-bottom: .5rem;
        }
    }
}

.flex-3 {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;

    img{
        width: 280px;
        border-radius: 10px;
    }
}

.stat-blue {
    background-color: #019adc;
    color: #fff;
}

.stat-white {
    background-color: #fff;
    color: #000;
}

.flex-2 {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
}

.stat-orange {
    background-color: #dc7000;
    color: #fff;
}

.stat-red {
    background-color: #d80027;
    color: #fff;
}